//-head
head
  title Work Flow
  //- meta info
  meta(name="title", content="Work Flow")
  meta(name="description" content="description Work Flow")
  meta(name="keywords", content="Work Flow")
  //- general
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(charset="UTF-8", http-equiv="Content-Type", content="text/html")
  //- css
  link(href="/assets/styles/index.css", rel="stylesheet")