doctype html
html(lang="en")

  //- include head
  include _head.pug

  body

    //- include header
    include _header.pug

    main main contain

    //- include footer
    include _footer.pug

    //- scripts 
    script(type="application/javascript" src="/assets/scripts/index.js")